<mat-card>
  <mat-card-header>
    <mat-card-title>Fanlar</mat-card-title>
    <mat-card-subtitle>Fanlar bilan ishlash bo'limi</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion color="light" displayMode="default" [multi]="true" [hideToggle]="false">
      <mat-expansion-panel [hideToggle]="false" [(expanded)]="formOchiq">
        <mat-expansion-panel-header>Yangi fan qo'shish

          <mat-icon class="mat-18">add</mat-icon>
        </mat-expansion-panel-header>
        <form [formGroup]="fanForm" (ngSubmit)="saqlash()">
          <mat-form-field *ngIf='tahrirRejim' appearance="outline">
            <mat-label>ID</mat-label>
            <input formControlName='id' readonly matInput placeholder="ID">
            <mat-hint>ID</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input formControlName='nom' matInput placeholder="Nom . . .">
            <mat-hint>Nom kiriting</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fan darajasi</mat-label>
            <mat-select formControlName="fanDaraja" placeholder="Fan darajasini tanlang">
                <mat-option value="ELEMENTAR"> Elementar daraja      </mat-option>
                <mat-option value="OLIY"> Oliy daraja      </mat-option>
            </mat-select>
            <mat-hint>Darajani tanlang</mat-hint>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Ma'lumot</mat-label>
            <textarea formControlName='malumot' matInput placeholder="Ma'lumot . . .">
                            </textarea>
            <mat-hint>Ma'lumot kiriting</mat-hint>
          </mat-form-field>
          <button [disabled]="fanForm.invalid || surovBajarilmoqda" mat-raised-button color="primary" type="submit">
            <mat-spinner *ngIf="surovBajarilmoqda" diameter="20" color="accent"></mat-spinner>
            Saqlash
          </button>
          <button mat-raised-button color="accent" type="reset" (click)="tozalash()">Bekor qilish</button>

        </form>



      </mat-expansion-panel>
    </mat-accordion>
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input (input)="load($event.target)" matInput placeholder="Filter . . .">
      <mat-hint>Kalit so'zni kiriting</mat-hint>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="fanDaraja">
        <th mat-header-cell *matHeaderCellDef> Fan darajasi </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="element.fanDaraja">
              <span style="color: green;" *ngSwitchCase="'ELEMENTAR'">  
                  Elementar daraja
              </span>
              <span style="color: red" *ngSwitchCase="'OLIY'">  
                  Oliy daraja
              </span>
              <span style="color: blue;" *ngSwitchDefault>  
                  Tayinlanmagan
              </span>
            </ng-container>        
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="malumot">
        <th mat-header-cell *matHeaderCellDef> Ma'lumot </th>
        <td mat-cell *matCellDef="let element"> {{element.malumot}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="amal">
        <th mat-header-cell *matHeaderCellDef> Amallar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="tahrir(element)">
            <mat-icon color="primary" class="mat-18">edit</mat-icon>
          </button>
          <button mat-button (click)="ochirish(element)">
            <mat-icon color="accent" class="mat-18">delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



  </mat-card-content>

</mat-card>