<mat-toolbar color="primary">

    <mat-toolbar-row>
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon class="mat-18">
                menu
            </mat-icon>
        </button>

        <span>Tester</span>

        <span class="example-spacer"></span>

        <button [matMenuTriggerFor]="menuRef" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">
            <mat-icon>account_circle</mat-icon>
        </button>



        <mat-menu #menuRef="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
            <button mat-menu-item routerLink="profil">
                <mat-icon class="mat-18">account_box</mat-icon> Profil
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon class="mat-18">logout</mat-icon> Chiqish
            </button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened>
        <mat-nav-list>

            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['dashboard']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon>
                Bosh sahifa
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['fan']">
                <mat-icon class="sidenav-icon">
                    show_chart
                </mat-icon>
                Fan
            </a>
            <mat-divider></mat-divider>

            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['savol']">
                <mat-icon class="sidenav-icon">query_builder</mat-icon>
                Savollar
            </a>
            <mat-divider></mat-divider>

            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['user']">
                <mat-icon class="sidenav-icon">verified_user</mat-icon>
                User
            </a>
            <mat-divider></mat-divider>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
